.app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100vh;
}

.app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 4rem;
}

.app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 4rem;
}

.app__wrapper_img img {
    width: 60%;
}

.app__header {
    background-color: white;
    font-family: var(--font-base);
    color: black;
    font-size: 20px;
}

.app__header-h1 {
    font-family: var(--font-base);
    color:rgb(175, 108, 0) ;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;

}

.app__header-img {
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .app__wrapper {
        flex-direction: column;
    }

    .app__wrapper_img {
        margin: 5rem 0 0 0;
    }

    .app__wrapper_img-reverse {
        margin: 0 0 5rem 0;
    }

    .app__wrapper_img img {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .section__padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .p__cormorant {
        font-size: 21px;
    }

    .p__opensans {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .p__opensans {
        font-size: 12px;
    }

    .p__cormorant {
        font-size: 19px;
    }

    .headtext__cormorant {
        font-size: 45px;
        line-height: 70px;
    }
}