.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 1000px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
   
  #cancelBtn {
    background-color: crimson;
  }